# Django Settings
SECRET_KEY=SECRET_KEY
DEBUG=False
DJANGO_SETTINGS_MODULE=coldmail_project.settings.prod
ALLOWED_HOSTS=coldmail.clfy.ai.kr,121.126.99.70

# Database Settings
DB_NAME=coldmail_prod
DB_USER=coldmail_user
DB_PASSWORD=DB_PASSWORD
DB_ROOT_PASSWORD=DB_ROOT_PASSWORD
DB_HOST=db
DB_PORT=3306

# Redis/Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Email Settings (SMTP)
SMTP_EMAIL_HOST=smtp.larksuite.com
SMTP_EMAIL_PORT=465
SMTP_EMAIL_USE_TLS=True
EMAIL_HOST_USER=contact@clfy.cloud
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD

# Email Settings (IMAP)
IMAP_EMAIL_HOST=imap.larksuite.com
IMAP_EMAIL_PORT=993
IMAP_EMAIL_USE_TLS=True

# Security Settings (HTTPS 사용시만 True)
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True

# Docker Settings
DOCKER_USERNAME=DOCKER_USERNAME
VERSION=latest
